.first-pic {
    float: right;
    margin: 55px;
    padding:2px;
    background-color: azure;
    border: 5px;
    border-color: aqua;
}

.band-pic {
    float: left;
}

.sidebar {
    padding: 5px;
    background-color: aquamarine;
    float: right;
    margin: 10px;
}

div {
    margin: 10px;
    padding: 2%;
}
