.about-me {
    color:chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
}

.emphasize {
    color: red;
    font-style: italic;
}

.blog-post {
    text-align: justify;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 17px;
}